a{
    color: green;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}
li a {
    margin-right:1.5rem;
    font-family: 'Indie Flower', cursive;    
}
a:hover{
    text-decoration: none;
    background-color: lightgreen;
}
section .title{
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    text-align: center;
}
body {
    font-family: 'ZCOOL XiaoWei', serif;
}
h1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: #08244f;
    font-size: 32px;
}
.yourElement {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
.center{
    display: block;
    border-radius: 10px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;

}
.leftmargin{
    margin-left: 125px;
}
.topmargin{
    margin-top: 50px;
    margin-left:75px;
}

p{
    display: block;
    color: #08244f;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}   
nav ul{
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width:100%;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding:50px 20px 20px 20px; 
    box-sizing: border-box;
    background-color: snow;
    color:#08244f;

}

.tag{
    display: inline-block;
    border-radius: 2px;
    margin: 5px 5px 5px 0px;
    padding: 2px 4px 2px 4px;
    color: darkblue
}
.c{
    background:skyblue;
}
.shell{
    background-color: lightcoral; 
}
.business{
    background-color: lightgoldenrodyellow; 

}
.nails{
    background-color: blueviolet; 

}
.memory{
    background-color: greenyellow
}
[class*="col-"] {
    flex-basis: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;	
}

@media only screen and (min-width:768px){
    .col-1 {flex-basis: 8.33%;}
    .col-2 {flex-basis: 16.66%;}
    .col-3 {flex-basis: 25%;}
    .col-4 {flex-basis: 33.33%;}
    .col-5 {flex-basis: 41.66%;}
    .col-6 {flex-basis: 50%;}
    .col-7 {flex-basis: 58.33%;}
    .col-8 {flex-basis: 66.66%;}
    .col-9 {flex-basis: 75%;}
    .col-10 {flex-basis: 83.33%;}
    .col-11 {flex-basis: 91.66%;}
    .col-12 {flex-basis: 100%;}
}
