.container {
  display: flex;
}

.main-content {
  width: 100%;
  margin: 0 1rem 1rem 1rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}

.profile-container {
  margin: 10px 30px;
}

.profile-image {
  border-radius: 50%;
}

.intro {
  width: 800px;
  margin: 20px 40px;
}

.project-list {
  display: flex;
}

.project {
  border-right: 1px solid white;
}

.link-icon-container {
  display: flex;
}
.resume-button {
  margin: 0px 10px 0px 0px;
}
.link-icon {
  margin: auto 10px;
  cursor: pointer;
}
