.searchBarContainer {
  display: flex;
  flex: 1;
  max-width: 750px;
  margin: 10px 0px;
  height: 56px;
  position: relative;
}

.searchBar {
  width: 100%;
  padding: 7px;
  border: 1px solid var(--outline-color);
  border-radius: 50px 0px 0px 50px;
  color: var(--text-color);
  outline: none;
  background-color: var(--second-bg-color);
  height: 40px;
}

.searchBar::placeholder {
  color: var(--placeholder-color);
}

.headerSearchButton {
  background-color: var(--second-bg-color);
  border: 1px solid var(--outline-color);
  border-radius: 0 50px 50px 0;
  color: var(--text-color);
  cursor: pointer;
}

.headerSearchButton:hover {
  background-color: var(--outline-color);
}

.suggestionsList {
  position: absolute;
  top: 110%;
  left: 0;
  width: 92%;
  background-color: var(--second-bg-color);
  border: 1px solid var(--outline-color);
  border-radius: 8px;
  list-style: none;
  margin: 0;
  padding: 6px 0;
  z-index: 9999;
  max-height: 200px;
  overflow-y: auto;
}

.suggestionItem {
  padding: 8px 12px;
  color: var(--text-color);
  cursor: pointer;
}

.suggestionItem:hover,
.highlighted {
  background-color: var(--outline-color);
}
