.navBar {
  display: flex;
  justify-content: space-between;
  background-color: var(--second-bg-color);
}

.menuLogo {
  display: flex;
}
.menuIcon {
  border-radius: 50px;
  padding: 5px;
  margin: 18px 10px 0px 35px;
  color: var(--text-color);
  cursor: pointer;
}

.menuIcon:hover {
  background-color: var(--outline-color);
}

.logo {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  padding: 0px 2px;
}

.logo:hover {
  background-color: var(--second-bg-color);
}

.logoText {
  display: flex;
  margin-top: 5px;
  margin-left: 2px;
  color: var(--text-color);
  font-weight: bold;
}

.sideMenuContainer {
  display: flex;
  margin: auto 0px;
}
.iconsContainer {
  margin: auto 10px;
}

.linkIcon {
  margin: 0px 10px;
  cursor: pointer;
  color: var(--text-color);
}
.themeButton {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.2s ease;
  margin-top: 10px;
}

.themeButton:hover {
  transform: scale(1.2);
}
.resumeButton {
  margin: 10px 0px;
  border: 1px solid var(--outline-color);
}

.menuList {
  position: absolute;
  left: 93%;
  background-color: var(--second-bg-color);
  border: 1px solid var(--outline-color);
  border-radius: 8px;
  list-style: none;
  margin: 0;
  padding: 6px 0px;
  z-index: 9999;
  max-height: 500px;
  overflow-y: auto;
  color: var(--text-color);
}

.menuItem {
  padding: 8px 12px;
  cursor: pointer;
}

.menuItem:hover,
.highlighted {
  background-color: var(--outline-color);
}
