.navBar {
  display: flex;
  justify-content: space-between;
  background: #000;
  color: white;
}

.menuLogo {
  display: flex;
}
.menuIcon {
  border-radius: 50px;
  padding: 5px;
  margin: 18px 10px 0px 35px;
}

.menuIcon:hover {
  background-color: #444;
}

.logo {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
}

.logo:hover {
  background-color: #000;
}

.logoText {
  display: flex;
  margin-top: 5px;
  margin-left: 2px;
}

.sideMenuContainer {
  display: flex;
  margin: auto 0px;
}
.iconsContainer {
  margin: auto 10px;
}
