.minimizedSideBar {
  width: 240px;
  background-color: var(--bg-color);
  color: var(--bg-color);
  min-height: calc(100vh - 144px);
  z-index: 9999;
}

@media (max-width: 768px) {
  .minimizedSideBar {
    width: 0px;
    padding: 10px;
  }
}

.sideBar {
  width: 216px;
  background-color: var(--bg-color);
  min-height: calc(100vh - 144px);
  overflow: hidden;
  border-right: 0.5px solid rgb(162, 162, 162, 0.5);
  margin-right: 20px;
  z-index: 9999;
}

@media (max-width: 768px) {
  .sideBar {
    width: 50px;
    padding: 10px;
    border: none;
  }
}

.sideBarMenu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
