.minimized-sidebar {
  width: 50px;
  background-color: #000;
  color: white;
  padding: 20px;
  min-height: calc(100vh - 144px);
}

.sidebar {
  width: 216px;
  background-color: #000;
  color: white;
  padding: 20px;
  min-height: calc(100vh - 144px);
  overflow-y: auto;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.sidebar__menu__item {
  margin: 10px 10px;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
  display: flex;
  padding: 10px;
  border-radius: 10px;
}

.sidebar__menu__item:hover {
  background-color: #717171;
}
.sidebar__menu__item__icon {
  margin-right: 20px;
}

.sidebar__menu__item__text {
  font-size: 18px;
}
