.sidebarMenuItem {
  margin: 10px 10px;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  color: var(--text-color);
  width: fit-content;
}

.sidebarMenuItem:hover {
  background-color: var(--second-bg-color);
}

@media (max-width: 768px) {
  .sidebarMenuItem {
    margin: 10px 0p;
  }
}

.sidebarMenuItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarMenuItemIcon {
  margin: 0 10px;
}

.sidebarMenuItemText {
  font-size: 18px;
}
