.banner-container {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.banner-image {
  height: 250px;
  margin: 10px;
  border-radius: 16px;
  flex-grow: 1;
}
