.bannerImage {
  display: block;
  width: 80%;
  margin: 10px auto;
  border-radius: 16px;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .bannerImage {
    margin: 2rem 0;
    width: 100%;
    border-radius: 8px;
  }
}
