.journeyPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 1rem 1rem 1rem;
}

.timelineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin: 5px 0px;
  width: 700px;
  border-radius: 15px;
}

.timelineContent {
  margin: 10px;
}

.timelineContentOdd {
  margin: 10px;
}
